.body {
  font-family: 'Didactic Gothic', sans-serif;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
}

.body * {
  vertical-align: top;
}

.header {
  background-image: url("images/header-background.png");
  background-repeat: repeat-x;
  margin: -8px;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.container .logo {
  margin-top: 13px;
  margin-left: 30px;
}

.header .nav { 
  padding-left: 30px;
  margin-top: 22px;
  text-transform: uppercase;
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  color: #fff; 
  vertical-align: top;
  text-shadow: 1px 1px 1px rgb(11, 11, 11);
}

.header ul li {
  padding-right: 30px;
  display: inline;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  right: 94px;
  margin: 3px;
}

.username {
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  text-shadow: 1px 1px 1px rgb(11, 11, 11); 
}

.drop-menu {
  position: absolute;
  right: 0px;
  display: inline;
  margin-top: 22px;
}

.banner {
  color: rgb(65, 65, 65);
  padding-left: 70px;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  margin-top: 38px;
  margin-left: -36px;
  margin-bottom: 30px;
}

.main {
  background-color: rgb(242, 240, 236);
  height: 600px;
  margin-right: -10px;
  margin-left: -10px;
  
}
.concert {
  width: 620px;
  height: 380px;
  margin-top: 32px;
  margin-left: 32px;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: relative;
}

.box {
  background-color: rgb(208, 205, 199);
  margin-top: 32px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 62px;
  height: 110px;
  width: 120px;
  display: inline-block;
}

.counter {
  text-shadow: 1px 1px 1px rgb(11, 11, 11);
  text-align: center; 
  padding-top: 20px;
}

.goal {
  text-shadow: 1px 1px 1px rgb(11, 11, 11);
  text-align: center;
  padding-top: 20px;
}

.join-button {
  font-size: 22px;
  color: rgb(255, 255, 255);
  width: 260px;
  height: 60px;
  border: 1px solid #CB9000;
  margin-left: 10px;
  margin-top: 56px;
  text-align: center;
  line-height: 60px;
  background: #fbd328; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbd328 0%, #db9723 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbd328), color-stop(100%,#db9723)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbd328 0%,#db9723 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd328', endColorstr='#db9723',GradientType=0 ); /* IE6-9 */
  border-radius: 4px;
  box-shadow: 0px 5px 3px -3px rgba(200, 200, 200, 1);

}












