body {
  font-family: 'Didactic Gothic', sans-serif;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
}

body * {
  vertical-align: top;
}

/*HEADER BEGIN*/

.header {
  background-image: url("images/header-background.png");
  background-repeat: repeat-x; 
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.container .logo {
  margin-top: 13px;
  margin-left: 30px;
}

.header .nav { 
  padding-left: 30px;
  margin-top: 22px;
  text-transform: uppercase;
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  color: #fff; 
  vertical-align: top;
  text-shadow: 1px 1px 1px rgb(11, 11, 11);
}

.header ul li {
  padding-right: 30px;
  display: inline;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  right: 94px;
  margin: 3px;
}

.username {
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  text-shadow: 1px 1px 1px rgb(11, 11, 11); 
}

.drop-menu {
  position: absolute;
  right: 0px;
  display: inline;
  margin-top: 22px;
}

/*HEADER END*/

/*BANNER BEGIN*/

.banner {
  color: rgb(65, 65, 65);
  padding-left: 70px;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  margin-top: 38px;
  margin-left: -36px;
  margin-bottom: 30px;
}

/*BANNER END*/

/*MAIN LEFT BEGIN*/

.left {
  width: 640px;
  height: 540px;
  display: inline-block; 
}

.main {
  background-color: rgb(242, 240, 236);
  position: relative;
  height: 540px;
  padding-top: 40px;
  margin: 0 auto;
}

.photo-banner {
  color: white;
  width: 640px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5); 
  display: block;
}

.concert-photo {
  background-image: url("images/concert-image.jpg");
  width: 640px;
  height: 380px;
  display: inline-block;
}

.U2 {
  font-size: 22px;
  position: relative;
  line-height: 60px;
  margin-left: 20px;
}

.clock{
  margin-top: 18px;
  margin-left: 256px;
  height: 24px;
}

.count-down {
  font-size: 14px;
  position: absolute;
  margin-left:4px;
  line-height: 60px;
}

.announcement-box {
  background-color: rgb(208, 205, 199);
  width: 640px;
  height: 90px;
  display: inline-block;
}

.announcement {
  font-size: 18px;
  color: rgb(50, 50, 50);
  font-style: italic;
  margin-left: 40px;
  padding-top: 26px;
}

/*ribbon begin*/

 .ribbon-wrapper {
  position: relative;
}

  .ribbon-front {
  font-size: 14px;
  background-color: #f9ce00;  height: 32px;
  width: 130px;
  position: relative;
  left:-10px;
  z-index: 2;
  margin-top: 300px;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 32px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #f9ce00 transparent transparent;
}

  .ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 10px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 10px 10px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #f9ce00;
}

  .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 0px;
  height: 32px;
  background-color: #f9ce00;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 32px;
    z-index: 0;
}

.ribbon-message {
  padding-top: 8px;
padding-left: 20px;
}

.caveat {
  font-size: 12px;
  width: 530px;
  margin-left: 42px;
  margin-top: 10px;
  display: inline-block;
}

.arrow {
  height: 45px;
  transition: all ease 1s;
}

.arrow:hover {
  -webkit-transform: rotate(360deg);
}

/*MAIN LEFT END*/

/*MAIN RIGHT BEGIN*/

.right {
  width: 303px;
  height: 538px;
  display: inline-block;
}

.box-counter {
  background-color: rgb(208, 205, 199);
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 62px;
  height: 110px;
  width: 126px;
  display: inline-block; 
}

.box-goal {
  background-color: rgb(208, 205, 199);
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 62px;
  height: 110px;
  width: 126px;
  display: inline-block; 
}

.counter {
  text-shadow: 1px 1px 1px rgb(166, 163, 158);
  text-align: center; 
  padding-top: 20px;
}

.box-counter-name {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(65, 65, 65);
  text-shadow: 1px 1px 1px rgb(242, 240, 236);
  display: inline-block;
  margin-left: 10px;
  background-color: rgb(181, 174, 163);
  width: 126px;
  height: 24px;
  padding-top: 9px;
  text-align: center; 
}

.goal {
  text-shadow: 1px 1px 1px rgb(166, 163, 158);
  text-align: center;
  padding-top: 20px;
}

.box-goal-name {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(65, 65, 65);
  text-shadow: 1px 1px 1px rgb(242, 240, 236);
  display: inline-block;
  margin-left: 10px;
  background-color: rgb(181, 174, 163);
  width: 126px;
  height: 24px;
  padding-top: 9px;
  text-align: center;
}

.join-button {
  font-size: 22px;
  color: rgb(255, 255, 255);
  width: 272px;
  height: 60px;
  border: 1px solid #CB9000;
  margin-left: 10px;
  text-align: center;
  line-height: 60px;
  background: #fbd328; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbd328 0%, #db9723 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbd328), color-stop(100%,#db9723)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbd328 0%,#db9723 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd328', endColorstr='#db9723',GradientType=0 ); /* IE6-9 */
  border-radius: 4px;
  box-shadow: 0px 5px 3px -3px rgba(200, 200, 200, 1);
  z-index: 2;
  position: absolute;
}

.reward {
  background-color: rgb(255, 255, 255);
  width: 265px;
  margin-top: 60px;
  margin-left: 14px;
  border-radius: 0px 0px 4px 4px;
  height: 78px;
  position: absolute;
  border: 1px solid rgb(166, 166, 165);
  box-shadow: inset 0 -3px 0 rgb(224, 224, 224), 0 0px 0;
  z-index: 1; 
}

.reward-ribbon {
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
}

 .reward-text {
  font-weight: 700;
  font-size: 18px;
  margin-top: 16px;
  margin-left: -6px;
  display: inline-block;
  color: rgb(65, 65, 65);
 }

 .the-reward {
  font-size: 12px;
  display: inline-block;
  margin-left: 58px;
  margin-bottom: 30px;
  margin-top: -28px;
  color: rgb(65, 65, 65);
 }

 .disclaimer {
  font-size: 11px;
  margin-left:  26px;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  width: 240px;
  margin-top: 150px;
  position: absolute;
  color: rgb(156, 155, 154);

 }

 .hor-line {
  margin-top: 192px;
  width: 272px;
  margin-left: 12px;
  color: rgb(156, 155, 154);
 }

 .link-line {
  margin-left: 12px;
  position: relative;
  margin: 0 auto;
  
 }
.link-icons {
  display: inline-block;
  margin-left: 6px; 
}

 .url {
  font-size: 12px;
  color: rgb(52, 117, 163);
  display: inline-block;
  margin-left: -10px;
  margin-top: 8px;
 }

.offers {
 position: relative;
 margin-right: auto;
 margin-left: auto;
 margin-top: 40px;
 width: 960px;
}


.crew-offer {
 display: inline-block;
 width: 308px;
 height: 220px;
 position: relative; 
}

.ruth-offer {
 display: inline-block;
 width: 308px;
 height: 220px;
 position: relative;  
}

.twisted-offer {
 display: inline-block;
 width: 308px;
 height: 220px;
 position: relative;  
}

.crew-offer-bar {
 height: 60px;
 width: 200px;
 font-size: 14px;
 color: rgb(64, 64, 64);
 display: inline-block;
}

.ruth-offer-bar {
 height: 60px;
 width: 200px;
 font-size: 14px;
 color: rgb(64, 64, 64);
 display: inline-block;
 }

 .twisted-offer-bar {
 height: 60px;
 width: 200px;
 font-size: 14px;
 color: rgb(64, 64, 64);
 display: inline-block;
}

.offer-counter {
  position: relative;
  margin: 0 auto;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}


.crew-offer-title, .ruth-offer-title, .twisted-offer-title {
  font-weight: bold;
  margin-top: 8px;
}

.crew-offer-tracker, .ruth-offer-tracker, .twisted-offer-tracker {
  font-size: 10px;
  color: rgb(143, 143, 143);
}

.offer-counter-clock {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.offer-countdown {
  display: inline-block;
  margin-top: 4px;
}

.line-break {
  margin-top: 58px;
}

/*MAIN RIGHT END*/

/*COMING EVENTS BEGIN*/

.coming-events h1 {
  font-size: 22px;
  margin-top: -4px;
  position: relative;
}

.mob-event-dates {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  text-align: left;
  display: inline-block;
}

td, th {
  border-bottom: 1px solid black;
  border-spacing: 0;
  padding-right: 44px;
  padding-bottom: 10px;
  padding-top: 10px;
}

tr:last-child td {
  border: 0;
}

tr:last-child th {
  border: 0;
}

td {
  padding-left: 8px;
}

.date {
  padding-right: 0;
}

.mob-starter {
  width: 300px;
  height: 210px;
  display: inline-block;
  margin-top: -38px;
  background-color: rgb(208, 205, 199);
  padding-left: 8px;
  margin-bottom: 64px;
}

/*COMING EVENTS END*/

/*FOOTER BEGIN*/

.footer {
  background-color: rgb(84, 83, 82);
  height: 350px;
  position: relative;
  margin: 0 auto;
}

.categories {
  width: 300px;
  display: inline-block;
}

.categories h1 {
  color: #ffffff;
  font-size: 16px;
  padding-top: 14px;
}

.buttons {
  margin: 0 auto;
  position: relative;
  width: 300px;
}

.music-button, .charity-button, .fashion-button, .design-button, .art-button, 
.games-button, .technology-button, .film-button, .sports-button, .theater-button {
  font-size: 14px;
  color: #ffffff;
  background-color: rgb(99, 99, 98);
  width: 140px;
  height: 40px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  margin-top: 2px;
  border-radius: 4px;
  border: 1px solid rgb(42, 42, 42);
  box-shadow: inset 0 1px 0px 0 rgb(213, 213, 213);
}

.music, .charity, .fashion, .design, .art, .games, .technology, .film, .sports, .theater {
  margin-top: 12px;
}

.connect {
  width: 280px;
  margin-left: 30px;
  display: inline-block;
  position: relative;
  margin-top: 12px;
  margin-left: 80px;
}

.connect-header {
  color: #ffffff;
  font-size: 16px;
  padding-top: 14px;
  position: relative;
  margin: 0 auto;
}

.sign-up {
  font-size: 12px;
  color: rgb(213, 213, 213);
  width: 200px;
  margin-top: 12px;
}

.enter-email {
  width: 220px;
  height: 40px;
  font-size: 16px; 
  margin-top: 20px;
  border-radius: 4px;
  text-align: left;
  padding-left: 8px; 
  box-shadow: inset 0 1px 8px -1px rgb(128, 128, 127);
  color: rgb(181, 181, 181);
  background-image: url("images/check.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50px, 50px;
}

.facebook {
  position: relative;
  margin: 0 auto;
  margin-top: 18px;
}

.facebook-icon {
  display: inline-block;
}

.like-us {
  font-size: 14px;
  display: inline-block;
  margin-top: 6px;
}

.twitter-icon {
  display: inline-block;
  margin-top: -14px;
}

.follow {
  font-size: 14px;
  display: inline-block;
  margin-top: -10px;
}

.google-icon {
  display: inline-block;
  margin-top: -14px;
}

.plus-one {
  font-size: 14px;
  display: inline-block;
  margin-top: -10px;  
}

.break {
  margin-top: -20px;
  width: 230px;
  margin-left: 0;
  border: 0;
  color: rgb(42, 42, 42);
  height: 1px;
  background-color: rgb(42, 42, 42);
}

.break2 {
  margin-top: -34px;
  width: 230px;
  margin-left: 0;
  border: 0;
  color: rgb(42, 42, 42);
  height: 1px;
  background-color: rgb(42, 42, 42);
}

.contact {
  width: 280px;
  margin-left: 30px;
  display: inline-block;
  position: relative;
  margin-top: 12px; 
  margin-left: -8px; 
}

.how-works {
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 46px;
  border: 1px solid #CB9000;
  margin-left: 10px;
  margin-top: 18px;
  text-align: center;
  line-height: 48px;
  background: #fbd328; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbd328 0%, #db9723 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbd328), color-stop(100%,#db9723)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbd328 0%,#db9723 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbd328 0%,#db9723 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd328', endColorstr='#db9723',GradientType=0 ); /* IE6-9 */
  border-radius: 4px;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 1);
  z-index: 2;
  position: absolute;
}

.contact {
  position: relative;
  height: 331px;
}

.question{
  font-size: 18px;
  display: inline-block;
  margin-top: 86px;
  margin-left: 10px;
  color: #ffffff;
}

.solicit-contact {
  font-size: 10px;
  display: inline-block;
  margin-top: 22px;
  width: 164px;
  margin-left: 10px;
  color: #ffffff;
}

.email-box {
  height: 36px;
  width: 120px;
  background-color: rgb(99, 99, 98);
  border-radius: 4px;
  display: inline-block;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  box-shadow: inset 0 1px 0px 0 rgb(213, 213, 213);
  color: rgb(255, 255, 255);
}

.copyright {
  font-size:  10px;
}

.rights {
  font-size: 10px;
}





















