body {
  font-family: 'Didactic Gothic', sans-serif;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
}

body * {
  vertical-align: top;
}

/*HEADER BEGIN*/

.header {
  background-image: url("images/header-background.png");
  background-repeat: repeat-x; 
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.container .logo {
  margin-top: 13px;
  margin-left: 30px;
}

.header .nav { 
  padding-left: 30px;
  margin-top: 22px;
  text-transform: uppercase;
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  color: #fff; 
  vertical-align: top;
  text-shadow: 1px 1px 1px rgb(11, 11, 11);
}

.header ul li {
  padding-right: 30px;
  display: inline;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  display: inline;
  position: absolute;
  right: 94px;
  margin: 3px;
}

.username {
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  text-shadow: 1px 1px 1px rgb(11, 11, 11); 
}

.drop-menu {
  position: absolute;
  right: 0px;
  display: inline;
  margin-top: 22px;
}

/*HEADER END*/

/*BANNER BEGIN*/

.banner {
  color: rgb(65, 65, 65);
  padding-left: 70px;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  margin-top: 38px;
  margin-left: -36px;
  margin-bottom: 30px;
}

/*BANNER END*/

/*MAIN BEGIN*/

.main {
  background-color: rgb(242, 240, 236);
  position: relative;
  height: 540px;
  padding-top: 40px;
}

.photo-banner {
  color: white;
  width: 640px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5); 
  display: block;
}



.concert-photo {
  background-image: url("images/concert-image.jpg");
  width: 640px;
  height: 380px;
  

}

.U2 {
  font-size: 22px;
  position: relative;
  line-height: 60px;
  margin-left: 20px;

}

.clock{
  margin-top: 18px;
  margin-left: 256px;
}

.counter {
  font-size: 14px;
  position: absolute;
  margin-left:4px;
  line-height: 60px;
}

.announcement-box {
  background-color: rgb(208, 205, 199);
  width: 640px;
  height: 90px;
}

.announcement {
  font-size: 18px;
  color: rgb(50, 50, 50);
  font-style: italic;
  margin-left: 40px;
  padding-top: 26px;
}

/*ribbon begin*/

 .ribbon-wrapper {
  position: relative;
}
  .ribbon-front {
  font-size: 14px;
  background-color: #f9ce00;  height: 32px;
  width: 130px;
  position: relative;
  left:-10px;
  z-index: 2;
  margin-top: 300px;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 32px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #f9ce00 transparent transparent;
}

  .ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 10px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 10px 10px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #f9ce00;
}

  .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 0px;
  height: 32px;
  background-color: #f9ce00;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 32px;
    z-index: 0;
}

.ribbon-message {
  padding-top: 8px;
padding-left: 20px;
}

.caveat {
  font-size: 12px;
  width: 530px;
  margin-left: 42px;
  margin-top: 10px;
}


/*ribbon end*/












